.banner {
  min-height: 250px;
  background: linear-gradient(to top left, #dd7556 0%, #ff9553 100%);
}

.name_chef {
  font-size: 3rem;
}

.recipe-img {
  height: 200px;
  width: 200px;
}

.disabled-btn {
  background: gray !important;
  color: #000 !important;
}
